<form method="post" action="{{ path('adminTva_delete', {'id': tva.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette TVA ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tva.id) }}">
    <button class="btn">Supprimer</button>
</form>
