{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Edition de la catégorie</h1>

    {{ form(edit_form) }}

    <table>
        <tbody>
            <tr>
                <td>
                    <a class="btn btn-info" href="{{ path('adminCategories') }}">
                        Revenir à la liste
                    </a>
                </td>
                <td class="deleteForm">{{ form(delete_form) }}</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
