{% extends 'baseAdmin.html.twig' %}

{% block body -%}
    <h1>Création des catégories</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminCategories') }}">
            Revenir à la liste
        </a>
    </li>
</ul>
{% endblock %}
