<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos catégories</li>
        {{ render(controller(
            'App\\Controller\\CategoriesController::menu', {}
        )) }}
    </ul>
</div>