<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
        <li class="active">
            <a href="{{ path('produits') }}">Légumes</a>
        </li>
        <li>
            <a href="{{ path('produits') }}">Fruits</a>
        </li>
    </ul>
</div>