<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <!-- TODO : RAJOUTER LES MENUS AU FUR ET A MESURE -->
                <a href="{{ path('adminCategories') }}">Catégories produits</a>
                <a href="{{ path('adminTva_index') }}">Liste des TVAs</a>
            </li>
        </ul>
    </div>  
</div>