<!-- TODO : RAJOUTER LES MENUS AU FUR ET A MESURE -->
<li class="nav-item">
    <a class="nav-link active" href="{{ path('adminCategories') }}">
    <span data-feather="home"></span>
    Catégories produits <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('adminTva_index') }}">
    <span data-feather="file"></span>
    Liste des TVAs
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('adminProducts') }}">
    <span data-feather="file"></span>
    Liste des produits
    </a>
</li>