<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminCategories') }}">Catégories produits</a>
            </li>
        </ul>
    </div>  
</div>